api/src/main/resources/META-INF/myapp.customer.bean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://myapp/customer/bean" xmlns="http://myapp/customer/bean"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
	elementFormDefault="qualified">

	<xsd:complexType name="customer">
		<xsd:sequence>
			<xsd:element name="Id" type="customerId" />
			<xsd:element name="Username" type="xsd:string" />
			<xsd:element name="Password" type="xsd:string" />
			<xsd:element name="Role" type="xsd:string" />
			<xsd:element name="Name" type="name" />
			<xsd:element name="Age" type="age" />
			<xsd:element name="Email" type="email" />
			<xsd:element name="AccountStatus" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="customerId">
		<xsd:restriction base="xsd:int" />
	</xsd:simpleType>

	<xsd:simpleType name="age">
		<xsd:restriction base="xsd:integer">
			<xsd:minInclusive value="18" />
			<xsd:maxExclusive value="99" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="name">
		<xsd:restriction base="xsd:string" />
	</xsd:simpleType>

	<xsd:simpleType name="email">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="^[A-Z0-9._%-]+@[A-Z0-9.-]+\.[A-Z]{2,4}$"></xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>


</xsd:schema>