api/src/main/resources/META-INF/myapp.common.service.bean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://myapp/common/service/bean"
	xmlns="http://myapp/common/service/bean" xmlns:customer="http://myapp/customer/bean"
	elementFormDefault="qualified">

	<xsd:import namespace="http://myapp/customer/bean"
		schemaLocation="myapp.customer.bean.xsd" />

	<xsd:complexType name="registrateRequest">
		<xsd:sequence>
			<xsd:element name="Username" type="xsd:string" />
			<xsd:element name="Password" type="xsd:string" />
			<xsd:element name="Name" type="customer:name" />
			<xsd:element name="Age" type="customer:age" />
			<xsd:element name="Email" type="customer:email" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="resetPasswordRequest">
		<xsd:sequence>
			<xsd:element name="Email" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>