core/src/main/resources/META-INF/myapp.core.bean.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://myapp/core/bean" xmlns="http://myapp/core/bean"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" jaxb:version="2.1"
	elementFormDefault="qualified">

	<xsd:complexType name="jsonReply">
		<xsd:sequence>
			<xsd:element name="Success" type="xsd:boolean" minOccurs="0"
				maxOccurs="1" default="true" />
			<xsd:element name="Message" minOccurs="0"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AuthenticaionSuccessReply">
		<xsd:complexContent>
			<xsd:extension base="jsonReply">
				<xsd:sequence>
					<xsd:element name="authority" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="role">
		<xsd:attribute name="Admin" type="xsd:string" fixed="ADMIN">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property fixedAttributeAsConstantProperty="true" />
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="Customer" type="xsd:string" fixed="CUSTOMER">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property fixedAttributeAsConstantProperty="true" />
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>


</xsd:schema>